Witaj świecie!

<ul>
    <li><a href="/admin.html.twig">Admin</a></li>
    <li><a href="{% include('RestaurantBundle::employer.html.twig')%}">Pracownik</a></li>
    <li><a href="{% include('RestaurantBundle::client.html.twig')%}">Klient</a></li>
</ul>