{% extends 'base.html.twig' %}

{% block body %}
    <h1>Orders creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form.customer) }}
        <input type="submit" value="Stwórz" />
    {{ form_end(form) }}

{% endblock %}
